.carousel-slide {
    height: auto;
    width: auto;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    background-color:black;
}

.slide {
      width: 50%;
      border: 20px solid black;
}
 
footer {
      min-height: 200px;
    }

body {
    background-color:#E6EEFF;
    font-family: 'Baumans', cursive;
}

p {
    font-size: 20px;
    line-height: 1.2;
    text-align: justify;
    letter-spacing: .02em;
}

.navbar {
    float: right;  
}

.jumbotron {
    background-color: aliceblue;
}

.contactForm {
    text-align: center;
    align-content: center;
}


